 {% extends 'layout.twig.html' %}

{% block title %}Eventos{% endblock %}

{% block contenido %}
    <h2>{{evento.nombre}}</h2>
    <p>{{evento.info}}</p>
    
    <ul>
    {% for obra in evento.obras %}
    <li><a href="{{path('obra',{obra: obra.id}) }}"> {{ obra.titulo}} </a> 
    		
     de {% for artista in obra.artistas %}
     	<a href="{{path('persona',{persona: artista.id})}}">{{artista.nombre}}</a>
    	{% endfor %}
    </li>
    {% endfor %}
    </ul>
    
{% endblock %}
