 {% extends 'layout.html.twig' %}

{% block title %}Artistas{% endblock %}

{% block contenido %}
    Persona: {{ persona.nombre }} {{ persona.apellido }} 
    
    <h3>Obras Realizadas</h3>
    <ul>
    {% for obra in persona.obras %}
        	<li>
        		<h4>{{obra.titulo}}</h4>
        		<p>{{obra.sinopsis}}</p>
        		<a href="{{path('obra',{obra: obra.id}) }}"> ver mas</a>
        	</li>
    {% endfor %}
    </ul>
    
 

{% endblock %}
